<div class="overview-container">
  <h2>Overview</h2>

  <div class="key-statistics-container">
    <h3>Key Statistics</h3>

    <div class="stats-grid">
      <div class="stat-card">
        <span class="stat-label">Total Orders</span>

        @if (isLoadingStats) {
          <app-spinner/>
        } @else {
        <span class="stat-value">{{ totalOrders }}</span>
        }
      </div>

      <div class="stat-card">
        <span class="stat-label">Total Revenue</span>

        @if (isLoadingStats) {
          <app-spinner/>
        } @else {
        <span class="stat-value">{{ revenue ?? 0 | currency:'EUR':'symbol':'1.0' }}</span>
        }
      </div>

      <div class="stat-card">
        <span class="stat-label">Total Logins</span>
        @if (isLoadingStats) {
          <app-spinner/>
        } @else {
        <span class="stat-value">{{ totalLogins }}</span>
        }
      </div>

      <div class="stat-card">
        <span class="stat-label">Meals Delivered</span>
        @if (isLoadingStats) {
          <app-spinner/>
        } @else {
        <span class="stat-value">{{ totalMealsDelivered }}</span>
        }
      </div>
      
    </div>
  </div>
  <div class="accumulative-fee-container">
    <h3>Accumulative Fees</h3>
    <app-accumulative-fees-chart class="stat-card"></app-accumulative-fees-chart>
  </div>
</div>