.password-reset-div {
  background: #fff;
  border-radius: 16px;
  padding: 32px;
  max-width: 900px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.new-pass-label {
  font-weight: 600;
  margin-bottom: 6px;
  margin-right: 10px;
}

.new-pass-input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.full-width {
  width: 100%;
}

button {
  background: rgb(0, 0, 0);
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  opacity: 0.9;
}

.reset-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

button {
  /* justify-self: flex-end; */
}