<h2>Menu</h2>

<p *ngIf="dishes.length === 0">
  This restaurant currently has no menu items.
</p>

<ul>
  <li *ngFor="let d of dishes">
    {{ d.name }} - €{{ d.price }}
    <button (click)="addToCart(d)">
      Add to cart
    </button>
  </li>
</ul>

<hr />

<h3>Cart</h3>

<p *ngIf="cartItems.length === 0">
  Cart is empty
</p>

<ul *ngIf="cartItems.length > 0">
  <li *ngFor="let item of cartItems">
    {{ item.name }}
    — €{{ item.price }}

    <button (click)="decreaseQuantity(item)">−</button>
    <span style="margin: 0 8px;">
      {{ item.quantity }}
    </span>
    <button (click)="increaseQuantity(item)">+</button>

    <button (click)="removeItem(item)">🗑️</button>

    <span style="margin-left: 10px;">
      = €{{ item.price * item.quantity }}
    </span>
  </li>
</ul>


<p *ngIf="cartItems.length > 0">
  <strong>Total: €{{ cartTotal }}</strong>
</p>

<button
  type="button"
  (click)="placeOrder()"
  [disabled]="cartItems.length === 0"
>
  Place Order
</button>


