<div class="vouchers-container">
  <h2>Vouchers</h2>

  <div class="filter-bar">
    <input type="text" name="searchId" [(ngModel)]="searchId" placeholder="Search by id..."
      (keyup.enter)="applyFilters()">
    <input type="text" name="searchCode" [(ngModel)]="searchCode" placeholder="Search by voucher code..."
      (keyup.enter)="applyFilters()">
    <input type="number" min="0" max="100" name="searchDiscountMin" 
      [(ngModel)]="searchDiscountMin" placeholder="Min"
      (input)="restrictRange($event, null, 'min')" 
      (keyup.enter)="checkAndApplyFilters('min')"
      (focus)="savePreviousDiscountValue(searchDiscountMin)">
    <input type="number" min="0" max="100" name="searchDiscountMax" 
      [(ngModel)]="searchDiscountMax" placeholder="Max"
      (input)="restrictRange($event, null, 'max')"
      (keyup.enter)="checkAndApplyFilters('max')"
      (focus)="savePreviousDiscountValue(searchDiscountMax)">

    <select [(ngModel)]="searchIsActive">
      <option value=""> </option>
      <option value="true">Active</option>
      <option value="false">Inactive</option>
    </select>
    <button (click)="applyFilters()" class="btn-search">Search</button>
    <button (click)="clearFilters()" class="btn-clear">Clear</button>
  </div>

  <table class="vouchers-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Voucher Code</th>
        <th>Discount Percent</th>
        <th>Active</th>
        <th>
          <div class="voucher-button-container">
            <button class="add-voucher-button" (click)="openAddVoucherOverlay()">Add Voucher</button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (voucher of vouchers; track voucher.id) {
      <tr>
        <td> {{ voucher.id }} </td>

        @if (voucher.isBeingEdited) {
        <td><input 
          [ngModel]="voucher.code" 
          (keyup.enter)="saveVoucher(voucher, codeInput.value, +discountInput.value, activeInput.checked)"
          class="edit-input" #codeInput>
        </td>
        <td><input type="number" 
          (keyup.enter)="saveVoucher(voucher, codeInput.value, +discountInput.value, activeInput.checked)"
          [ngModel]="voucher.discount" class="edit-input" #discountInput
          (input)="restrictRange($event, voucher, 'discount')">
        </td>
        <td><input type="checkbox" 
          [ngModel]="voucher.isActive" 
          (keyup.enter)="saveVoucher(voucher, codeInput.value, +discountInput.value, activeInput.checked)"
          #activeInput></td>
        <td><div class="voucher-button-container">
          @if (voucher.isSaving) {
            <app-spinner/>
          } @else {
            <button (click)="saveVoucher(voucher, codeInput.value, +discountInput.value, activeInput.checked)">Save</button>
          }
          <button class="cancel-edit-voucher-button" (click)="cancelEdit(voucher)">Cancel</button>
          <button class="delete-voucher-button" (click)="deleteVoucher(voucher)">Delete</button>
        </div></td>

        } @else {
        <td>{{ voucher.code }}</td>
        <td>{{ voucher.discount }}%</td>
        <td> {{ voucher.isActive ? 'Active' : 'Inactive' }} </td>
        <td>
          <div class="voucher-button-container">
            <button class="edit-voucher-button" (click)="editVoucher(voucher)">Edit</button>
            <button class="delete-voucher-button" (click)="deleteVoucher(voucher)">Delete</button>
          </div>
        </td>
        }

      </tr>
      } @empty {
      <tr>
        <td colspan="4" class="no-data">No vouchers found.</td>
      </tr>
      }
    </tbody>
  </table>

  @if (showAddOverlay) {
    <div class="modal-backdrop" (click)="closeOverlay()">
      <div class="modal-card" (click)="$event.stopPropagation()">
        <h3>Add New Voucher</h3>
        
        <div class="form-group">
          <label>Voucher Code</label>
          <input type="text" [(ngModel)]="newVoucher.code" placeholder="e.g. SUMMER25">
        </div>

        <div class="form-group">
          <label>Discount (%)</label>
          <input type="number" 
          [(ngModel)]="newVoucher.discount"
          (input)="restrictRange($event, newVoucher, 'discount')"
          min="0" max="100" >
        </div>

        <div class="form-group">
          <label>Active</label>
          <input type="checkbox" [(ngModel)]="newVoucher.isActive">
        </div>

        <div class="modal-actions">
          <button class="btn-cancel" (click)="closeOverlay()">Cancel</button>
          <button class="btn-save" (click)="submitNewVoucher()">Create Voucher</button>
        </div>
      </div>
    </div>
  }

  <div class="pagination-controls">
    <div class="limit-selector">
      <label for="limit">Rows per page:</label>
      <select id="limit" [(ngModel)]="limit" (change)="onLimitChange()">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="50">50</option>
      </select>
    </div>
    <div class="page-navigation">
      <button (click)="previousPage()" [disabled]="currentPage === 0">
        Previous
      </button>
      <span>Page {{ currentPage + 1 }} | {{ startIndex + 1 }}-{{ endIndex }} of {{ totalEntries }}</span>
      <button (click)="nextPage()" [disabled]="endIndex >= totalEntries">
        Next
      </button>
    </div>
  </div>

</div>