<p>Registration</p>
<div class="registration-div">
  
  <form class="customer-registration-form" (submit)="onRegistration()">
    
    <label for="email-input">email</label>
    <input [(ngModel)]="email" name="email-input" id="email-input" type="text" required placeholder="email">
    
    <label for="password-input">password</label>
    <input [(ngModel)]="password" name="password-input" id="password-input" type="password" required placeholder="password">

    <label for="firstName-input">first name</label>
    <input [(ngModel)]="firstName" name="firstName-input" id="firstName-input" type="text" required placeholder="first name">
    
    <label for="lastName-input">last name</label>
    <input [(ngModel)]="lastName" name="lastName-input" id="lastName-input" type="text" required placeholder="last name">

    <label for="address-input">address</label>
    <input [(ngModel)]="address" name="address-input" id="address-input" type="text" required placeholder="address">

    <label for="deliveryZone">delivery zone</label>
    <select
    id="deliveryZone"
    name="deliveryZone"
    [(ngModel)]="deliveryZone"
    required
    class="form-input"
    >
    <option value="" disabled selected>Select your zone</option>
    <option value="A">Zone A</option>
    <option value="B">Zone B</option>
    <option value="C">Zone C</option>
    </select>


    <label for="postcode-input">postcode</label>
    <input [(ngModel)]="postcode" name="postcode-input" id="postcode-input" type="text" required placeholder="postcode">

    <label for="phoneNumber-input">phone number</label>
    <input [(ngModel)]="phoneNumber" name="phoneNumber-input" id="phoneNumber-input" type="text" required placeholder="phone number">

    <button type="submit">Register</button>
  
  </form>


</div>
