<div class="owner-layout">

  <!-- CONTENT -->
  <main class="content">
    <h1 class="page-title">Restaurants</h1>

    <!-- RESTAURANTS -->
    <section *ngIf="activeSection === 'restaurants'">

      <div class="card">
        <div class="form-row">
          <input
            type="text"
            placeholder="Search restaurant"
            [(ngModel)]="searchText"
          />

          <select [(ngModel)]="selectedCuisine">
          <option value="ALL">All</option>
          <option value="asian">Asian</option>
          <option value="italian">Italian</option>
          <option value="austrian">Austrian</option>
          </select>

        </div>
      </div>

      <div class="card">
        <ul>
          <li *ngFor="let r of filteredRestaurants">
      <a
        [routerLink]="['/customer/restaurants', r.id]"
        class="restaurant-link"
      > 
      {{ r.name }}
       </a>
      </li>


        </ul>
      </div>
    </section>
  </main>
</div>
