<div class="owner-layout">

  <!-- CONTENT -->
  <main class="content">
    <h1 class="page-title">Restaurants</h1>

    <!-- RESTAURANTS -->
    <section>

      <div class="search-wrapper">
  <input
    class="search-input"
    type="text"
    placeholder="Search restaurants"
    [(ngModel)]="searchName"
    (keyup.enter)="loadData()"
  />

  <div class="filters">
    <select class="filter-pill" [(ngModel)]="searchCuisine" (change)="loadData()">
      <option value=''>All cuisines</option>
      <option value="Asian">Asian</option>
      <option value="Italian">Italian</option>
      <option value="Austrian">Austrian</option>
    </select>

    <select class="filter-pill" [(ngModel)]="selectedEta">
      <option value="ALL">All delivery times</option>
      <option value="UNDER_30">Under 30 min</option>
      <option value="30_60">30–60 min</option>
      <option value="OVER_60">60+ min</option>
    </select>

    <select class="filter-pill" [(ngModel)]="sortByRating" (change)="loadData()">
      <option [ngValue]="null">Sort by rating</option>
      <option value="desc">Rating: High → Low</option>
      <option value="asc">Rating: Low → High</option>
    </select>

  </div>
</div>


<div class="grid">
  <a
    class="card"
    *ngFor="let r of filteredRestaurants"
    [routerLink]="['/customer/restaurants', r.id]"
    >
    <div
      class="image"
      style="background-image: url('assets/images/my-rest.jpg')"
    ></div>

    <div class="content">
      <div class="top">
        <h3>{{ r.name }}</h3>
        <span class="badge open">Open</span>
      </div>

<div class="rating" *ngIf="r.ratingCount !== undefined">
  <span class="stars">
    <ng-container *ngFor="let star of [1,2,3,4,5]">
      <span
        class="star"
        [class.filled]="star <= getRoundedRating(r.averageRating)"
      >
        ★
      </span>
    </ng-container>
  </span>

  <span class="rating-text">
    {{ r.averageRating | number:'1.1-1' }} ({{ r.ratingCount }})
  </span>
</div>
      <p>{{ r.address }}</p>

      <span class="mine">
        ⏱ {{ r.etaMin }}–{{ r.etaMax }} min
      </span>
    </div>
  </a>
</div>

      <app-pagination
        [limit]="limit"
        [currentPage]="currentPage" 
        [totalEntries]="totalEntries"
        (limitChange)="onLimitChange($event)"
        (pageChange)="onPageChange($event)">
      </app-pagination>      

    </section>
  </main>
</div>