<div class="page" *ngIf="restaurant">
  <a
  *ngIf="!isCustomerView"
  routerLink="/restaurants"
  class="back"
>
  ← Restaurants
</a>


  <h1>{{ restaurant.name }}</h1>

  <!-- INFO CARD -->
  <div class="info-card">
    <div>📞 {{ restaurant.phonenumber }}</div>
    <div>🕒 {{ restaurant.openinghours }}</div>
    <div>📍 {{ restaurant.deliveryzone }}</div>
  </div>

  <!-- MENUS -->
  <div class="menu-card" *ngFor="let menu of menus">
    <h2>{{ menu.name }}</h2>
    <p class="desc">{{ menu.description }}</p>

    <div class="dish" *ngFor="let dish of menu.dishes">
      <div class="dish-left">
        <strong>{{ dish.name }}</strong>
        <p>{{ dish.description }}</p>
      </div>

      <div class="dish-right">
  <span class="price">{{ dish.price }} €</span>

  <div class="qty-controls" *ngIf="isCustomer">
    <button (click)="decrease(dish)">−</button>
    <span>{{ getQuantity(dish) }}</span>
    <button (click)="increase(dish)">+</button>
  </div>
</div>

    </div>
  </div>
  <!-- CART (Customer only) -->
<div class="cart" *ngIf="isCustomer && cart.length > 0">
  <h3>Cart</h3>

  <div class="cart-item" *ngFor="let item of cart">
    <span>{{ item.dish.name }} × {{ item.quantity }}</span>
    <span>{{ item.dish.price * item.quantity }} €</span>

    <button class="remove-btn" (click)="remove(item)">🗑️</button>

  </div>

  <hr />

  <div class="cart-total">
    <strong>Total: </strong>
    <strong>{{ cartTotal }} €</strong>
  </div>
  <button class="place-order-btn" (click)="placeOrder()">
    Place Order
  </button>
</div>
</div>

