<div class="page" *ngIf="restaurant">
  <a
  *ngIf="restaurant"
  [routerLink]="isCustomerView ? '/customer/dashboard' : '/restaurants'"
  class="back-button"
>
  <span class="arrow">←</span>
  <span>Restaurants</span>
</a>
 
  <h1>{{ restaurant.name }}</h1>

  <!-- INFO CARD -->
  <div class="info-card">
    <div>📞 {{ restaurant.phonenumber }}</div>
    <div>🕒 {{ restaurant.openinghours }}</div>
    <div>📍 Zone {{ restaurant.deliveryzone }}</div>
     <!-- RATING -->
    <div class="rating">
  <span class="stars">
    <ng-container *ngFor="let star of [1,2,3,4,5]">
      <span
        class="star"
        [class.filled]="star <= getRoundedRating(averageRating)"
        [class.clickable]="isCustomerView"
        (click)="rateRestaurant(star)"
      >
        ★
      </span>
    </ng-container>
  </span>

  <span class="rating-text">
    {{ averageRating | number:'1.1-1' }} · {{ ratingCount }} ratings
  </span>
</div>

  </div>

  <!-- MENUS -->
  <div class="menu-card" *ngFor="let menu of menus">
    <h2>{{ menu.name }}</h2>
    <p class="desc">{{ menu.description }}</p>

    <div class="dish" *ngFor="let dish of menu.dishes">
      <div class="dish-left">
        <strong>{{ dish.name }}</strong>
        <p>{{ dish.description }}</p>
      </div>

      <div class="dish-right">

    <div class="dish-rating">
      <ng-container *ngFor="let star of [1,2,3,4,5]">
        <span
  class="star"
  [class.filled]="star <= getRoundedRating(dish.averageRating || 0)"
  (click)="rateDish(dish.dishid, star)"
>
  ★
</span>

      </ng-container>

      <span class="rating-text">
        {{ dish.averageRating || 0 }} · {{ dish.ratingCount || 0 }} ratings
      </span>
    </div>
    <span class="price">{{ dish.price }} €</span>
    <div class="qty-controls" *ngIf="isCustomer">
    <button (click)="decrease(dish)">−</button>
    <span>{{ getQuantity(dish) }}</span>
    <button (click)="increase(dish)">+</button>
    </div>
    </div>
    </div>
  </div>
  <!-- CART (Customer only) -->
<div class="cart" *ngIf="isCustomer && cart.length > 0">
  <h3>Cart</h3>

  <div class="cart-item" *ngFor="let item of cart">
    <span>{{ item.dish.name }} × {{ item.quantity }}</span>
    <span>{{ item.dish.price * item.quantity }} €</span>

    <button class="remove-btn" (click)="remove(item)">🗑️</button>

  </div>

  <hr />

  <div class="cart-total">
    <strong>Total: </strong>
    <strong>{{ cartTotal }} €</strong>
  </div>
  <button class="place-order-btn" (click)="placeOrder()">
    Place Order
  </button>
</div>

