<h1 class="page-title">My Profile</h1>

<div class="profile-card">

  <!-- ===== Edit Profile ===== -->
  <h2>Edit Profile</h2>

  <div *ngIf="loading">Loading profile...</div>
  <div *ngIf="error" class="error-text">{{ error }}</div>
  <div *ngIf="success" class="success-text">{{ success }}</div>

  <div class="form-grid">

    <div class="form-group">
      <label>First name</label>
      <input
        name="firstname"
        [(ngModel)]="profile.firstname"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="form-group">
      <label>Last name</label>
      <input
        name="lastname"
        [(ngModel)]="profile.lastname"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="form-group">
      <label>Phone number</label>
      <input
        name="phonenumber"
        [(ngModel)]="profile.phonenumber"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="form-group full-width">
      <label>Address</label>
      <textarea
        name="address"
        rows="3"
        [(ngModel)]="profile.address"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
    </div>

  </div>

  <button class="primary-btn" (click)="save()">Save Settings</button>

  <!-- ===== Current Saved Settings ===== -->
  <h2 style="margin-top: 32px;">Current Saved Settings</h2>

  <div class="saved-info">
    <p><strong>First name:</strong> {{ savedProfile.firstname }}</p>
    <p><strong>Last name:</strong> {{ savedProfile.lastname }}</p>
    <p><strong>Phone:</strong> {{ savedProfile.phonenumber }}</p>
    <p><strong>Address:</strong> {{ savedProfile.address }}</p>
  </div>

  <!-- ===== Loyalty ===== -->
<h2 style="margin-top: 32px;">Loyalty</h2>

<div class="saved-info">
  <p>
    <strong>Loyalty points:</strong>
    {{ savedProfile.points }}
  </p>
  <p style="color: #666; font-size: 14px; margin-top: 4px;">
  You earn 1 loyalty point for every €10 spent.
  </p>
  <p style="color: #666; font-size: 14px; margin-top: 4px;">
  💡 Weekend promotion: orders placed on Saturday and Sunday earn <strong>double points</strong>!!!
</p>
</div>

<h3>Loyalty Rewards</h3>

<div class="redeem-actions">
  <button
    class="redeem-btn"
    *ngIf="savedProfile.points >= 5"
    (click)="redeem('FOOD5')"
  >
    Redeem 5% voucher
    <span>– 5 points</span>
  </button>

  <button
    class="redeem-btn"
    *ngIf="savedProfile.points >= 10"
    (click)="redeem('FOOD10')"
  >
    Redeem 10% voucher
    <span>– 10 points</span>
  </button>
</div>


<p *ngIf="redeemedVoucher" class="redeem-success">
  You received voucher code:
  <strong>{{ redeemedVoucher }}</strong>
</p>



<h3>Reward History</h3>

<ul *ngIf="rewardHistory.length > 0">
  <li *ngFor="let r of rewardHistory">
    Redeemed {{ r.vouchercode }}
    ({{ r.pointsspent }} points)
    on {{ r.redeemedat | date:'short' }}
  </li>
</ul>

<p *ngIf="rewardHistory.length === 0">
  No rewards redeemed yet.
</p>

</div>
